.content {
    max-width: 1000px;
    margin: 0 auto;
}

.content__title {
    text-align: center;
}

.content__title-text {
    font-weight: normal;
}

.content__item {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
}

.contact-form__header {
    width: 30%;
    text-align: left;
    font-weight: normal;
}

.contact-form__header--required::after {
    content: " ※";
    color: #ffb5b5;
}

.contact-form__item {
    padding: 10px;
}

.contact-form__error {
    color: #f00;
}

.contact-form__name-input,
.contact-form__email-input,
.contact-form__tel-input,
.contact-form__address-input,
.contact-form__building-input,
.contact-form__category-select,
.contact-form__detail-textarea {
    border: none;
    border-radius: 3px;
    background: #f4f4f4;
    padding: 10px 15px;
    height: 35px;
}

.contact-form__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form__name-input {
    width: 45%;
}

.contact-form__gender {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.contact-form__gender-radio {
    display: none;
}

.contact-form__gender-radio:checked+label::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8b7969;
}

.contact-form__gender-label {
    position: relative;
    margin-right: 40px;
    padding-left: 25px;
}

.contact-form__gender-label::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #8b7969;

}

.contact-form__email-input {
    width: 100%;
}

.contact-form__tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form__tel-input {
    width: 30%;
}

.contact-form__address-input {
    width: 100%;
}

.contact-form__building-input {
    width: 100%;
}

.contact-form__category-select {
    width: 100%;
    appearance: none;
}

.contact-form__category {
    position: relative;
    width: 50%;
}

.contact-form__category::after {
    content: "";
    position: absolute;
    color: #82746b;
    right: 10px;
    top: 12px;
    border-top: 12px solid #beb1a5;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 0;
}

.contact-form__detail-textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.contact-form__button {
    display: flex;
    justify-content: center;
}

.contact-form__button-submit {
    appearance: none;
    border: none;
    border-radius: 3px;
    background: #82746b;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    margin: 20px auto 30px;
    cursor: pointer;
}