.login-page {
    background: #f1ece6;
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding-bottom: 50px;
}

.login-page__title {
    text-align: center;
}

.login-page__title-text {
    font-weight: normal;
    margin: 0;
    padding: 30px 0 30px;
}

.login-form {
    background: #fff;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-form__inner {
    padding: 70px 15%;
}

.login-form__header {
    font-size: 20px;
}

.login-form__input {
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #f4f4f4;
    color: #8b7969;
    padding: 15px 25px;
    margin-bottom: 40px;
}

.login-form__input:last-of-type {
    margin-bottom: 70px;
}

.login-form__button {
    text-align: center;
}

.login-form__button-submit {
    border: none;
    border-radius: 3px;
    background: #827469;
    color: #fff;
    padding: 5px 25px;
}